*{
    scroll-behavior: smooth;
}

.app{
    min-height: 100vh;
    background-color: #39445a;
    color: #fff;
    padding-top: 70px;
    padding-bottom: 70px;
    font-family: 'Montserrat',sans-serif;

}

.pageTitle{
    text-transform: uppercase;
    display: flex;
    justify-content: end;
    font-family: 'Montserrat',sans-serif;
    font-size: 2vw;
    padding: 20px;
    border-radius: 50px;
    color: #fff;
}

@media (max-width: 700px) {
    .app {
        padding-top: 70px;
    }
    .pageTitle{
        font-size: 3vh;
    }
}
